port/*.o
cee-32/*.c
cee-64/*.c
c99-32/*.c
c99-64/*.c
bgl-xlc/*.c
bgq-xlc/*.c
dry/*.c
doc/*
*/*.o
*/lib*.a
*/qop-clover*.h
config.log
clover-config
target
Makefile
clover-config.in
Makefile.in
port/version.c
port/clover.h
noweb/clover.nw
configure
